@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

body {
    font-family: sans-serif;
    background-color: #1f1c17;
    color: #e6e2db;
}

header {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #ccc;
}

header img {
    width: 2rem;
    object-fit: contain;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

header h1 {
    color: #fce563;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 1.25rem;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    margin: 0.5rem 0;
    color: #e9e2ba;
}

button {
    display: block;
    margin: 2rem auto;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #1f1c17;
    background-color: #fce563;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}